body {
  background-color: rgb(3, 150, 176);
  font-size: 12px;
  font-family: “Courier New”, Courier, monospace;
  color: black;
}
h1 {
  text-align: left;
  font-size: 24px;
  text-shadow: 2px 2px 7px #1111111;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .3em;
}
h3 {
  font-size: 14px;
  word-spacing: 1em;
}
p {
  color: hsl(190, 100%, 5%) ;
  font-family: arial;
  text-align: justify;
  line-height: 1.3em;
}
p#intro {
  background-color: grey;
  text-align: right;
  font-weight: lighter;
}
p#intro:first-letter {
  font-size: 150%;
}
p#read:first-line {
  font-weight: bolder;
}
.product_reviews {
  text-align: right;
  line-height: normal;
}
a:hover {
  text-decoration: underline;
  text-transform: capitalize;
}
